# Variables
$mod = ALT
$monitorL = {{ (index .machine.displays 0).output }}
$monitorC = {{ (index .machine.displays 1).output }}
$monitorR = {{ (index .machine.displays 2).output }}

# Environment
env = XCURSOR_SIZE,24
env = QT_QPA_PLATFORM,wayland

# Monitors
{{- range $display := .machine.displays }}
monitor = {{ if not $display.id_by_output -}}desc:{{ $display.description }}{{- else -}}{{ $display.output }}{{- end -}}, {{ $display.resolution }}@60, {{ $display.position }}, {{ $display.scale }}, transform, {{ $display.transform }}
{{- end }}
monitor = ,preferred, auto, auto

# Settings
input {
    kb_layout = pl
    follow_mouse = 1

    touchpad {
        natural_scroll = no
    }

    sensitivity = 0.4
    accel_profile = adaptive

    repeat_rate = 60
    repeat_delay = 300
}

general {
    gaps_in = 5
    gaps_out = 10
    border_size = 2

    col.active_border = rgb({{ substr 1 7 .settings.theme.accent1 }})
    col.inactive_border = rgb({{ substr 1 7 .settings.theme.lightbg }})

    layout = dwindle
}

group {
    focus_removed_window = true
    insert_after_current = true

    col.border_active = rgb({{ substr 1 7 .settings.theme.accent1 }})
    col.border_inactive = rgb({{ substr 1 7 .settings.theme.lightbg }})

    groupbar {
        render_titles = false
        gradients = false

        col.active = rgb({{ substr 1 7 .settings.theme.accent1 }})
        col.inactive = rgb({{ substr 1 7 .settings.theme.lightbg }})
        text_color = rgb({{ substr 1 7 .settings.theme.fg }})
    }
}

decoration {
    rounding = 3
    active_opacity = 0.93
    inactive_opacity = 0.93
    fullscreen_opacity = 1.0

    drop_shadow = yes
    shadow_range = 4
    shadow_render_power = 3
    col.shadow = rgb(1a1a1a)

    blur {
      enabled = yes
      size = 5
      passes = 2
      new_optimizations = on
    }
}

animations {
    enabled = yes
    bezier = myBezier, 0.05, 0.9, 0.1, 1.05
    animation = windows, 1, 3, myBezier
    animation = windowsOut, 1, 3, default, popin 80%
    animation = border, 1, 10, default
    animation = borderangle, 1, 8, default
    animation = fade, 1, 7, default
    animation = workspaces, 0
}

dwindle {
    pseudotile = yes
    preserve_split = yes
    force_split = 2
}

master {
    new_status = slave
}

gestures {
    workspace_swipe = true
}

binds {
    workspace_back_and_forth = true
}

misc {
    mouse_move_enables_dpms = false
    key_press_enables_dpms = false
    force_default_wallpaper = 0
    animate_manual_resizes = true
}

cursor {
    inactive_timeout = 60
    hide_on_key_press = true
    persistent_warps = true
}

# Workspaces
workspace = 1, monitor:$monitorC, default:true
workspace = 2, monitor:$monitorC
workspace = 3, monitor:$monitorC
workspace = 4, monitor:$monitorC
workspace = 5, monitor:$monitorR, default:true
workspace = 6, monitor:$monitorR
workspace = 7, monitor:$monitorR
workspace = 8, monitor:$monitorL, default:true
workspace = 9, monitor:$monitorL
workspace = 10, monitor:$monitorL
workspace = 11, monitor:$monitorC

# Binds
bind = $mod SHIFT, q, killactive, 
bind = $mod SHIFT, e, exit, 
bind = $mod, f, fullscreen
bind = $mod SHIFT, f, togglefloating, 
bind = $mod SHIFT, p, pseudo,
bind = $mod SHIFT, x, pin,
bind = $mod, v, togglesplit,
bind = $mod, d, exec, hyprctl keyword general:layout "dwindle"
bind = $mod SHIFT, d, exec, hyprctl keyword general:layout "master"
bind = $mod, o, changegroupactive, b
bind = $mod, p, changegroupactive, f
bind = $mod, t, togglegroup
bind = $mod SHIFT, t, moveoutofgroup
bind = $mod CONTROL, h, moveintogroup, l
bind = $mod CONTROL, l, moveintogroup, r
bind = $mod CONTROL, k, moveintogroup, u
bind = $mod CONTROL, j, moveintogroup, d

bind = $mod, 1, workspace, 1
bind = $mod, 2, workspace, 2
bind = $mod, 3, workspace, 3
bind = $mod, 4, workspace, 4
bind = $mod, 5, workspace, 5
bind = $mod, 6, workspace, 6
bind = $mod, 7, workspace, 7
bind = $mod, 8, workspace, 8
bind = $mod, 9, workspace, 9
bind = $mod, 0, workspace, 10
bind = $mod, minus, workspace, 11

bind = $mod SHIFT, 1, movetoworkspace, 1
bind = $mod SHIFT, 2, movetoworkspace, 2
bind = $mod SHIFT, 3, movetoworkspace, 3
bind = $mod SHIFT, 4, movetoworkspace, 4
bind = $mod SHIFT, 5, movetoworkspace, 5
bind = $mod SHIFT, 6, movetoworkspace, 6
bind = $mod SHIFT, 7, movetoworkspace, 7
bind = $mod SHIFT, 8, movetoworkspace, 8
bind = $mod SHIFT, 9, movetoworkspace, 9
bind = $mod SHIFT, 0, movetoworkspace, 10
bind = $mod SHIFT, minus, movetoworkspace, 11

bind = $mod, h, movefocus, l
bind = $mod, l, movefocus, r
bind = $mod, k, movefocus, u
bind = $mod, j, movefocus, d
bind = $mod, u, focusmonitor, l
bind = $mod, i, focusmonitor, r

bind = $mod SHIFT, h, swapwindow, l
bind = $mod SHIFT, l, swapwindow, r
bind = $mod SHIFT, k, swapwindow, u
bind = $mod SHIFT, j, swapwindow, d

bind=ALT,R,submap,resize
submap=resize
binde=,l,resizeactive,20 0
binde=,h,resizeactive,-20 0
binde=,k,resizeactive,0 -20
binde=,j,resizeactive,0 20
bind=,escape,submap,reset
submap=reset

bind=ALT,M,submap,move
submap=move
binde=,l,moveactive,20 0
binde=,h,moveactive,-20 0
binde=,k,moveactive,0 -20
binde=,j,moveactive,0 20
bind=,escape,submap,reset
submap=reset

bind=ALT,escape,submap,passthrough
submap=passthrough
bind=ALT,escape,submap,reset
submap=reset

bind = $mod, mouse_down, workspace, e+1
bind = $mod, mouse_up, workspace, e-1

bind = $mod, mouse_left, changegroupactive, b
bind = $mod, mouse_right, changegroupactive, f

bindm = $mod, mouse:272, movewindow
bindm = $mod, mouse:273, resizewindow

bind = $mod, equal, exec, scr output
bind = $mod CONTROL, equal, exec, scr area
bind = $mod SHIFT, equal, exec, scr active

bind = $mod, slash, exec, playerctl play-pause
bind = $mod, comma, exec, playerctl previous
bind = $mod, period, exec, playerctl next

bind = ,XF86AudioRaiseVolume, exec, volume up
bind = ,XF86AudioLowerVolume, exec, volume down
bind = ,XF86AudioMute, exec, volume toggle

bind = ,XF86MonBrightnessUp, exec, backlight up 10
bind = ,XF86MonBrightnessDown, exec, backlight down 10

bind = CONTROL, space, exec, dunstctl close
bind = CONTROL, escape, exec, dunstctl history-pop

bind = $mod, space, exec, onagre
bind = $mod, return, exec, alacritty
bind = $mod SHIFT, return, exec, alacritty --class terminal-floating
bind = $mod, Y, exec, firefox
bind = $mod, N, exec, thunar


# Per application rules
windowrulev2 = float, class:terminal-floating
windowrulev2 = float, title:Postęp działań na plikach
windowrulev2 = size 800 500, class:terminal-floating
windowrulev2 = workspace 2, class:terminal-workspace
windowrulev2 = workspace 10, class:Spotify
windowrulev2 = workspace 8, class:Signal
windowrulev2 = workspace 8, class:Caprine
windowrulev2 = workspace 11, class:thunderbird
windowrulev2 = float, class:KeePassXC
windowrulev2 = size 1000 700, class:KeePassXC
windowrulev2 = float, class:gnome.Calculator
windowrulev2 = float, class:MEGAsync
windowrulev2 = move 100%-420 70, class:MEGAsync
windowrulev2 = float, title:PhilipsTV GUI
windowrulev2 = size 250 700, title:PhilipsTV GUI
windowrulev2 = move 100%-270 70, title:PhilipsTV GUI
windowrulev2 = size 400 760, class:protonvpn
windowrulev2 = move 100%-420 70, class:protonvpn
windowrulev2 = float, title:Microsoft Teams Notification
windowrulev2 = float, title:splash
windowrulev2 = float, title:Android Emulator
# Onagre launcher
windowrulev2 = noborder, class:onagre
windowrulev2 = noanim, class:onagre
windowrulev2 = rounding 5, class:onagre
windowrulev2 = opacity 0.9, class:onagre
# Mattermost call widget
windowrulev2 = pin, title:Calls Widget
windowrulev2 = float, title:Calls Widget
windowrulev2 = move 100%-292 100%-116, title:Calls Widget
windowrulev2 = monitor $monitorC, title:Calls Widget
windowrulev2 = noborder, title:Calls Widget
windowrulev2 = noshadow, title:Calls Widget

# Startup
exec-once = dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP
exec-once = /usr/lib/polkit-kde-authentication-agent-1
exec-once = swww-daemon
{{- if .settings.timewall }}
exec-once = sleep 5 && timewall set --daemon
{{- else }}
exec-once = sleep 5 && wallpaper
{{- end }}
exec-once = ~/.config/waybar/launch.sh
exec-once = sunset
exec-once = dunst
{{- if .settings.autodim.enable }}
exec-once = autodim {{ .settings.autodim.time }}
{{- end }}
{{- if .settings.autoblank.enable }}
exec-once = autoblank {{ .settings.autoblank.time }}
{{- end }}
{{- if .settings.autolock.enable }}
exec-once = autolock {{ .settings.autolock.time }}
{{- end }}

exec-once = alacritty --class terminal-workspace
exec-once = spotify
exec-once = sleep 3 && QT_QPA_PLATFORM=xcb megasync
exec-once = sleep 3 && syncthingtray
exec-once = sleep 5 && hyprctl dispatch workspace 1
exec-once = sleep 6 && QT_QPA_PLATFORM=xcb keepassxc

{{- if eq .machine.id "home" }}
exec-once = signal-desktop
{{- end }}
