{{- if eq .machine.id "work" -}}
local settings = {
  copilot_enabled = true,
  codeium_enabled = false,
}
{{- else }}
local settings = {
  copilot_enabled = false,
  codeium_enabled = true,
}
{{- end }}

return settings
