diff:
  pager: delta
merge:
  command: nvim
  args: ["-d", "{{`{{ .Destination }}`}}", "{{`{{ .Source }}`}}", "{{`{{ .Target }}`}}"]

data:
  user:
    email: {{ default "bazyli.cyran@gmail.com" .user.email | quote }}
  machine:
    id: {{ default "home" .machine.id | quote }}
    network:
      wlan: {{ default "" .machine.network.wlan | quote }}
      eth: {{ default "" .machine.network.eth | quote }}
      dock: {{ default "" .machine.network.dock | quote }}
  settings:
    gui: {{ default false .settings.gui }}
    timewall: {{ default false .settings.timewall }}
    autolock:
      enable: {{ hasKey .settings.autolock "enable" | ternary .settings.autolock.enable true }}
      time: {{ default 30 .settings.autolock.time }}
    autoblank:
      enable: {{ hasKey .settings.autoblank "enable" | ternary .settings.autoblank.enable true }}
      time: {{ default 10 .settings.autoblank.time }}
    dirs:
      code: {{ default "$HOME/Kod" .settings.dirs.code | quote }}
      screenshots: {{ default "$HOME/Obrazy/Zrzuty ekranu" .settings.dirs.screenshots | quote }}
      wallpapers: {{ default "$HOME/Obrazy/Tapety" .settings.dirs.wallpapers | quote }}
    theme:
      bg: {{ default "#1e222a" .settings.theme.bg | quote }}
      fg: {{ default "#abb2bf" .settings.theme.fg | quote }}
      lightbg: {{ default "#373b43" .settings.theme.lightbg | quote }}
      accent1: {{ default "#98c379" .settings.theme.accent1 | quote }}
      accent2: {{ default "#61afef" .settings.theme.accent2 | quote }}
      accent3: {{ default "#e5c07b" .settings.theme.accent3 | quote }}
      accent4: {{ default "#e06c75" .settings.theme.accent4 | quote }}
