diff:
  pager: delta
merge:
  command: nvim
  args: ["-d", "{{`{{ .Destination }}`}}", "{{`{{ .Source }}`}}", "{{`{{ .Target }}`}}"]

data:
  user:
    email: {{ default "bazyli.cyran@gmail.com" .user.email | quote }}
  machine:
    id: {{ default "home" .machine.id | quote }}
    network:
      wlan: {{ default "" .machine.network.wlan | quote }}
      eth: {{ default "" .machine.network.eth | quote }}
      dock: {{ default "" .machine.network.dock | quote }}
  settings:
    gui: {{ default false .settings.gui }}
    timewall: {{ default false .settings.timewall }}
    autolock:
      enable: {{ hasKey .settings.autolock "enable" | ternary .settings.autolock.enable true }}
      time: {{ default 30 .settings.autolock.time }}
    dirs:
      code: {{ default "$HOME/Kod" .settings.dirs.code | quote }}
      screenshots: {{ default "$HOME/Obrazy/Zrzuty ekranu" .settings.dirs.screenshots | quote }}
      wallpapers: {{ default "$HOME/Obrazy/Tapety" .settings.dirs.wallpapers | quote }}
    theme:
      bg: "#1e222a"
      fg: "#abb2bf"
      lightbg: "#373b43"
      accent1: "#98c379"
      accent2: "#61afef"
      accent3: "#e5c07b"
      accent4: "#e06c75"
