{{- $machine := .machine.id -}}
{{- if not $machine -}}
{{-   $machine = promptString "machine ID" -}}
{{- end -}}
{{- $gui := .settings.gui -}}
{{- if not $gui -}}
{{-   $gui = promptBool "using GUI" -}}
{{- end -}}

diff:
  pager: delta
merge:
  command: nvim
  args: ["-d", "{{ .Destination }}", "{{ .Source }}", "{{ .Target }}"]

data:
  user:
    email: {{ default "bazyli.cyran@gmail.com" .user.email | quote }}
  machine:
    id: {{ $machine | quote }}
    network:
      wlan: {{ default "" .machine.network.wlan | quote }}
      eth: {{ default "" .machine.network.eth | quote }}
      dock: {{ default "" .machine.network.dock | quote }}
  settings:
    gui: {{ $gui }}
    screenlock:
      enable: {{ hasKey .settings.screenlock "enable" | ternary .settings.screenlock.enable true }}
    dirs:
      screenshots: {{ default "~/Obrazy/Zrzuty ekranu" .machine.dirs.screenshots | quote }}
