[user]
    email = {{ .user.email }}
    name = Bazyli Cyran
[core]
    editor = nvim
    excludesfile = ~/.gitignore
    pager = delta
[include]
    path = ~/.local/lib/delta/themes.gitconfig
[interactive]
    diffFilter = delta --color-only
[merge]
    conflictstyle = diff3
[delta]
    features = zebra-dark
    syntax-theme = "TwoDark"
    navigate = true
    line-numbers = false
    side-by-side = false
[diff]
    colorMoved = default
[alias]
    st = status
    co = checkout
    cob = checkout -b
    sw = switch
    swc = switch -c
    sr = "!f() { git for-each-ref --count=10 --sort=-committerdate --format='%(refname:short)|%(committerdate:relative)|%(subject)|%(authorname)' refs/heads | column -ts'|' | fzf +m | cut -d ' ' -f 1 | xargs -o git switch; }; f"
    sl = switch -
    br = branch
    aa = add --all
    sa = stash --all
    rh = reset HEAD
    rh1 = reset HEAD~1
    cm = commit
    cmm = commit -m
    cma = commit --amend
    cmane = commit --amend --no-edit
    l = ll -15
    ll = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    lp = l -p
    df = diff
    dfc = diff --cached
    pf = push --force-with-lease
    prom = pull --rebase origin master
    ria = rebase -i --autosquash --autostash
    r = restore
    rs = restore --staged
    cf = chain first
    cn = chain next
    cp = chain prev
    cl = chain last
    cr = chain rebase
[pull]
    ff = only
[rerere]
    enabled = true
[branch]
    sort = -committerdate
[column]
    ui = auto
{{- if eq .machine.id "home" }}
[safe]
    directory = /opt/flutter
{{- end }}
