configuration {
    modi: "drun";
    show-icons: false;
    drun-display-format: "{name}";
    case-sensitive: false;
    cycle: false;
    eh: 2;
    display-drun: "Files";
}

@import "base"

listview {
    columns: 1;
    lines: 10;
}

// vim:ft=css
