{
  "modules-left": [
    "hyprland/workspaces",
    "hyprland/submap",
    "hyprland/window",
  ],
  "modules-center": [
    "clock",
  ],
  "modules-right": [
    "custom/mpris",
    "custom/philipstv",
    {{ if eq .machine.id "work" -}}"custom/vpn",{{- end -}}
    "custom/updates",
    "custom/sunset",
    "custom/backlight",
    "bluetooth",
    "pulseaudio",
    "network",
    "battery",
    "tray",
  ],
  "include": [
    "~/.config/waybar/common.json",
  ],
}
