[
  {
    "output": [
      "{{ (index .machine.displays 1).output }}",
    ],
    "modules-left": [
      "hyprland/workspaces",
      "hyprland/submap",
      "hyprland/window",
    ],
    "modules-center": [
      "clock",
    ],
    "modules-right": [
      "custom/mpris",
      "custom/philipstv",
      {{ if eq .machine.id "work" -}}"custom/vpn",{{- end -}}
      "custom/updates",
      "custom/sunset",
      "custom/backlight",
      "bluetooth",
      "pulseaudio",
      "network",
      "battery",
      "tray",
    ],
    "include": [
      "~/.config/waybar/common.json",
    ],
  },
  {
    "output": [
      "{{ (index .machine.displays 0).output }}",
      "{{ (index .machine.displays 2).output }}",
    ],
    "modules-left": [
      "hyprland/workspaces",
    ],
    "modules-center": [],
    "modules-right": [],
    "include": [
      "~/.config/waybar/common.json",
    ],
  },
]
