/* GENERAL */
* {
  border: none;
  border-radius: 0;
  font-family: "Roboto Condensed";
  font-size: 19px;
  font-weight: 400;
  min-height: 0;
  margin: 0;
  padding: 0;
}

window#waybar {
  background: transparent;
  color: #abb2bf;
}

window > box {
  margin: 10px 10px 0 10px;
  background: #1e222a;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 4px 10px 4px 4px;
}

tooltip {
  background: #1e222a;
  border: 1px solid #abb2bf;
  border-radius: 5px;
}

tooltip label {
  color: #abb2bf;
}

/* WORKSPACES */
#workspaces button{
  background: #1e222a;
  color: #abb2bf;
  padding: 2px 6px;
  border-radius: 3px;
}
#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.active {
  background: #61afef;
  color: #1e222a;
}

#workspaces button.urgent {
  background: #e5c07b;
  color: #1e222a;
}

/* HYPRLAND SUBMAP */
#submap {
  color: #e5c07b;
}
