/* GENERAL */
* {
  border: none;
  border-radius: 0;
  font-family: "Roboto Condensed";
  font-size: 19px;
  font-weight: 400;
  min-height: 0;
  margin: 0;
  padding: 0;
}

window#waybar {
  background: transparent;
  color: {{ .settings.theme.fg }};
}

window > box {
  margin: 10px 10px 0 10px;
  background: {{ .settings.theme.bg }};
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 4px 10px 4px 4px;
}

tooltip {
  background: {{ .settings.theme.bg }};
  border: 1px solid {{ .settings.theme.fg }};
  border-radius: 5px;
}

tooltip label {
  color: {{ .settings.theme.fg }};
}

/* WORKSPACES */
#workspaces button{
  background: {{ .settings.theme.bg }};
  color: {{ .settings.theme.fg }};
  padding: 2px 6px;
  margin: 0 4px 0 0;
  border-radius: 3px;
}
#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.active {
  background: {{ .settings.theme.accent1 }};
  color: {{ .settings.theme.bg }};
}

#workspaces button.urgent {
  background: {{ .settings.theme.accent3 }};
  color: {{ .settings.theme.bg }};
}

/* HYPRLAND SUBMAP */
#submap {
  color: {{ .settings.theme.accent3 }};
}
