;==========================================================
;
;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
;
;
;   To learn more about how to configure Polybar
;   go to https://github.com/polybar/polybar
;
;   The README contains a lot of information
;
;==========================================================


[colors]
black           = #282c34
gray            = #3e4452
white           = #abb2bf
red             = #e06c75
green           = #98c379
yellow          = e5c07b
blue            = #61afef
violet          = #c678dd
sea             = #56b6c2

bg              = ${colors.black}
fg              = ${colors.white}
highlight       = ${colors.blue}
highlight-fg    = ${colors.black}
active          = ${colors.gray}
active-fg       = ${colors.white}
urgent          = ${colors.yellow}
urgent-fg       = ${colors.black}

[bar/base]
width = 100%:-20
height = 30
offset-x = 10
offset-y = 10
fixed-center = true
override-redirect = true

background = ${colors.bg}
foreground = ${colors.fg}
border-size = 4
border-color = ${colors.bg}

padding-left = 0
padding-right = 2

module-margin-left = 1
module-margin-right = 2

font-0 = Roboto Condensed:size=14;3
font-1 = Font Awesome 5 Free:size=12;3
font-2 = Font Awesome 5 Free:size=12;3
font-3 = Font Awesome 5 Free Solid:size=12;3
font-4 = Font Awesome 5 Brands:size=12;3
font-5 = icomoon\\-feather:style=Medium:size=14;4

cursor-click = pointer

locale = pl_PL.UTF-8
monitor-exact = true
monitor-strict = true

wm-restack = i3

[bar/primary]
inherit = bar/base
monitor = ${env:MONITOR:}

modules-left = i3 xwindow
modules-center = date
{{- if eq .machine.id "work" }}
modules-right = mpris vpn updates redshift backlight pulseaudio bluetooth wlan eth ethdock battery
{{- else if eq .machine.id "vm" }}
modules-right = mpris updates redshift pulseaudio bluetooth eth
{{- else }}
modules-right = mpris updates redshift backlight pulseaudio bluetooth wlan eth ethdock battery
{{- end }}

tray-position = right
tray-padding = 2

[bar/secondary]
inherit = bar/base
monitor = ${env:MONITOR:}

modules-left = i3
modules-center =
modules-right =

tray-position = none

[module/i3]
type = internal/i3
format = <label-state> <label-mode>
index-sort = true
enable-scroll = false

; Icons
{{- if eq .machine.id "work" }}
ws-icon-0 = 1;
ws-icon-1 = 2;
ws-icon-2 = 3;
ws-icon-3 = 4;
ws-icon-4 = 5;
ws-icon-5 = 6;
ws-icon-6 = 7;
ws-icon-7 = 8;
ws-icon-8 = 9;
ws-icon-9 = 10;
ws-icon-default = 
{{- else }}
ws-icon-0 = 1;
ws-icon-1 = 2;
ws-icon-2 = 3;
ws-icon-3 = 4;
ws-icon-4 = 5;
ws-icon-5 = 6;
ws-icon-6 = 7;
ws-icon-7 = 8;
ws-icon-8 = 9;
ws-icon-9 = 10;
ws-icon-default = 
{{- end }}

; Only show workspaces on the same output as the bar
pin-workspaces = true

label-mode-padding = 2
label-mode-foreground = ${colors.urgent}
label-mode-background = ${colors.urgent-fg}

; focused = Active workspace on focused monitor
label-focused = %index% %icon%
label-focused-background = ${colors.highlight}
label-focused-foreground = ${colors.highlight-fg}
label-focused-padding = 2

; unfocused = Inactive workspace on any monitor
label-unfocused = %index% %icon%
label-unfocused-padding = 2

; visible = Active workspace on unfocused monitor
label-visible = %index% %icon%
label-visible-background = ${colors.active}
label-visible-foreground = ${colors.active-fg}
label-visible-padding = ${self.label-focused-padding}

; urgent = Workspace with urgency hint set
label-urgent = %index% %icon%
label-urgent-background = ${colors.urgent}
label-urgent-foreground = ${colors.urgent-fg}
label-urgent-padding = 2

[module/xwindow]
type = internal/xwindow
label = %title:0:55:...%

[module/mpris]
type = custom/script
exec = ~/.config/polybar/modules/mpris.sh --icon-playing  --icon-paused 
interval = 5
label = %output:0:35:...%
click-left = playerctl play-pause

[module/updates]
type = custom/script
interval = 600
exec = ~/.config/polybar/modules/updates.sh
label =  %output%

[module/redshift]
type = custom/script
interval = 15
exec = ~/.config/polybar/modules/redshift.sh --hide-day --icon-on  --icon-off 
label = %output%
click-left = ~/.config/polybar/modules/redshift.sh toggle

[module/date]
type = internal/date
interval = 15

date = %a %e %b
time = %H:%M
label =  %date%, %time%

[module/backlight]
type = custom/script
exec = ~/.config/polybar/modules/light.sh
tail = true
scroll-up = ~/.config/polybar/modules/light.sh inc
scroll-down = ~/.config/polybar/modules/light.sh dec
label =  %output%%

[module/pulseaudio]
type = internal/pulseaudio
use-ui-max = false
format-volume = <ramp-volume> <label-volume>
label-volume = %percentage%%
ramp-volume-0 = 
ramp-volume-1 = 
ramp-volume-2 = 
label-muted =  %percentage%%

[module/vpn]
type = custom/script
exec = ~/.config/polybar/modules/vpn.sh --icon-on  --icon-off 
interval = 15
label = %output%

[module/bluetooth]
type = custom/script
exec = ~/.config/polybar/modules/bluetooth.sh
tail = true
label =  %output%

[module/wlan]
type = internal/network
interval = 3.0
interface = {{ .machine.network.wlan }}

label-connected =  %signal%% %essid%
format-disconnected =

[module/eth]
type = internal/network
interval = 3.0
interface = {{ .machine.network.eth }}

label-connected =  eth
format-disconnected =

[module/ethdock]
type = internal/network
interval = 3.0
interface = {{ .machine.network.dock }}

label-connected =  dock
format-disconnected =

[module/battery]
type = internal/battery

battery = BAT0
adapter = AC
full-at = 100

time-format = %H:%M

format-full =  <label-full>
format-charging =  <label-charging>
format-discharging =  <label-discharging>

label-full = %percentage%%
label-charging = %percentage%%
label-discharging = %percentage%%

; vim:ft=dosini
